.user_profile {
  border: 3px solid black;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  /*background-color: rgb(140,150,220);*/
  background-color: rgb(115,125,245);
}

.loan {
  border: 2px solid black;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: rgb(140,150,220);
}

.navigation_bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}
