.top_header {
  background-color: rgb(30,83,232);
  border: 2px solid black;
}

.main_content {
  text-align: center;
  padding-bottom: 20px;
}

.log_bar {
  margin: 15px auto;
  /*margin-top: 15px;
  margin-bottom: 15px;*/
  text-align: center;
  display: block;
}


.user_profile {
  border: 3px solid black;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  /*background-color: rgb(140,150,220);*/
  background-color: rgb(115,125,245);
}

.loans {
  border: 2px solid black;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: rgb(140,150,220);
}

.loan_profile {
  border: 2px solid black;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  /*background-color: rgb(140,150,220);*/
}

.navigation_bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}
