<div class = "loan">
  <p> <%= loan.title%> </p>
  <p> <strong> Category: </strong> <%= loan.category %> </p>
  <p> <strong> Loan Amount: </strong> <%= loan.loan_amount %> </p>
  <p> <strong> Location: </strong> <%=loan.location %> </p>
</div>
