<%= stylesheet_link_tag("style.css") %>

<h2> Index of User Profiles </h2>

    <% @users.each do |user| %>
    <div class="user_profile">
    <h3> <%= link_to "Profile of: #{user.user_name}", user_path(user) %> </h3>
    <p> Company: <%= user.company_name %> </p>
    <p> Town: <%= user.town %> <p>
    </div>
    <% end %>
