<h2> Welcome to the Funding Match site</h2>
<h2> The solution to matching borrowers with lenders </h2>
<!-- <h3> View the profiles of users </h3> -->
<h2> <%= link_to "View Profiles of Users", url: "/users" %> </h2>
