<h2> Welcome to the Funding Match site</h2>
<h3> The solution to matching borrowers with lenders </h3>
<!-- <h3> View the profiles of users </h3> -->
<h3> <%= link_to "View Users' Profiles", "/users" %> </h3>
<h3> <%= link_to "View Loans Available for Funding", "/loans" %> </h3>
